.charts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

.charts > .main-title,
.charts > .no-charts-container {
    text-align: center;
}
